body {
  font-family: sans-serif;
  max-width: 700px;
  margin: 2em auto;
  line-height: 1.6;
}

nav a {
  margin-right: 1em;
  text-decoration: none;
  color: blue;
}

h1 {
  color: darkred;
}

p {
  font-size: 1.2em;
}
